---
---

<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.data.cv.name }}'s CV</title>
    <meta name="author" content="{{ site.data.cv.name }}"/>
    <meta name="description" content="{{ site.data.cv.name }}'s CV"/>
    <link rel="shortcut icon" href="/favicon.png">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="print"/>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css' media='all'>
    <style>
        h1 {
            font-family: 'Lusitana', sans-serif;
            font-size: 2em;
        }

	

        h4{
            padding: 0px;
            margin: 4px;       
        }

        hr{
            padding: 0px;
            margin: 4px;    
        }

        .skills {
            margin-right: .5em;
            margin-bottom: .5em;
        }
        .environment {
            margin-right: 1em;
        }
    </style>
</head>
<body>
<div class="container">
    <table border="0">
    <tr>
    <td style="padding: 0px;">
	<img src="{{ root_url }}/cv/me.jpg" style="width:150px;height:150px">
    </td>
    <td>
    <div class="text-left" style="padding: 10px;">
        <h1>{{ site.data.cv.name }}</h1>
        <h4><em>{{ site.data.cv.summary.text }}</em></h4>
        <table border="0" style="padding: 1px;">
	<tr>
    	<td>
	  <img src="{{ root_url }}/cv/icon_4424.png" style="width:25px;height:25px">
	  <a href="mailto:{{ site.data.cv.email }}"> {{ site.data.cv.email }}</a><br/>
        </td>
        <td>
	  <img src="{{ root_url }}/cv/linkedin-2048-black.png" style="width:25px;height:25px">
	  <a href="{{ site.data.cv.linkedin }}"> LinkedIn</a>
        </td>
        <tr>
        <td>
	  <img src="{{ root_url }}/cv/github.png" style="width:25px;height:25px">
	  <a href="{{ site.data.cv.github }}"> GitHub</a><br/>
        </td>
        <td>
	  <img src="{{ root_url }}/cv/icon_19489.png" style="width:25px;height:25px">
	  <a href="{{ site.data.cv.blog }}"> Dev Blog</a>
        </td>
        </tr>
        </table>
    </div>
    </td>
    </tr>
    </table>

    <h4>Skills Focus and Technical Expertise</h4>

    {% for skill in site.data.cv.skills %}
            <div class="row">
                    <div class="col-xs-2">
                        {{ skill.name }}:
                    </div>

                    <div class="col-xs-10">
                            {% for item in skill.items %}
                                <span class="label label-info skills"> {{ item.name }} </span>
                            {% endfor %}
                    </div>
            </div>
    {% endfor %}

    <hr/>

    <h4>Professional Experience</h4>

    {% for item in site.data.cv.professional %}
    <div class="row">
        <div class="col-xs-6 nohref"><h4><a href="{{ item.link }}"><strong>{{ item.name }}</strong></a>
        </h4>
        <h5><em>{{ item.title }}</em></h5>
        </div>
        <div class="col-xs-6 text-right">
            <h5><em>{{ item.start | date: "%b %Y" }} to {{ item.end | date: "%b %Y" }}</em></h5>
            <h5>{{ item.location }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">

            <ul class="fa-ul">
            {% for summarypoint in item.summarypoints %}
            <li><i class="fa-li fa fa-square"></i> {{ summarypoint }} </li>
            {% endfor %}
            </ul>

            {% for project in item.projects %}
            {% if project.link %}
            <h5><a href="{{ project.link }}"><strong>{{ project.name }}</strong></a>, {{ project.description }}</h5>
            {% else %}
            <h5><strong>{{ project.name }}</strong>, {{ project.description }}</h5>
            {% endif %}
            {% endfor %}
            {% for skill in item.skills %}
            <span class="label label-info environment"> {{ skill }} </span>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    <hr/>

    <h3>Education</h3 >
    {% for college in site.data.cv.education.colleges %}
    <h4><strong>{{ college.field }}</strong></h4>
    <h4><a href="{{ college.link }}"><strong>{{ college.name }}</strong></a></h4>
    <h4><em>{{ college.degree }}, {{ college.year }}</em></h4>
    {% endfor %}

    <hr/>

</div>

</body>
</html>
